# Xcode
.DS_Store
build/
DerivedData/
*.xcuserdata
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

